## Data Crawling For Weather Data.

<p> We do bit of web crawling using web data to get weather data. This data will be added to our feature sets to enable the model learn weather dependencies of impurity values. We will crawl data from weather underground using beautiful soup.</p>

In [1]:
import pandas as pd # import pnadas

In [2]:
from bs4 import BeautifulSoup # import beautiful soup
import urllib  # import urllib

### Scrapping With Pandas.

In [3]:
# WE use pandas to have a view of how the data looks like on the site
# this basically imports table.
pandas_scrappers_1 = pd.read_html("https://www.wunderground.com/history/airport/LWSK/2000/2/30/DailyHistory.html?req_city=Skopje-zajceprid&req_state=09&req_statename=Macedonia&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=13588")

In [4]:

#View the data
pandas_scrappers_1[0]

           Mar. 01, 2000         Rise          Set
0            Actual Time  6:08 AM CET  5:23 PM CET
1         Civil Twilight  5:40 AM CET  5:51 PM CET
2      Nautical Twilight  5:08 AM CET  6:24 PM CET
3  Astronomical Twilight  4:35 AM CET  6:56 PM CET

<p> Our aim would be to do web crawling to receive all historical data as above </p>

# WEB SCRAPPING.

In [5]:
url = urllib.request.Request('https://www.wunderground.com/history/airport/LWSK/') # make request

In [6]:
opener = urllib.request.build_opener() # build an opener for web request

In [7]:
url_open = opener.open(url) # open connection

In [8]:
soup = BeautifulSoup(url_open,'lxml') # use beautiful soup to import data in lxml format.

print (soup.prettify()); # run this to see how the website content looks like. Take time to analyse the output.

In [9]:
tbl = soup.find('table') # we can find all tables in the import

In [10]:
tags =soup.findAll("div", class_="date-selector") # or find a paricular div

In [11]:
tags

[<div class="date-selector">
 <select class="month form-select" name="month">
 <option value="1">January</option>
 <option value="2">February</option>
 <option selected="selected" value="3">March</option>
 <option value="4">April</option>
 <option value="5">May</option>
 <option value="6">June</option>
 <option value="7">July</option>
 <option value="8">August</option>
 <option value="9">September</option>
 <option value="10">October</option>
 <option value="11">November</option>
 <option value="12">December</option>
 </select>
 <select class="day form-select" name="day">
 <option>1</option>
 <option>2</option>
 <option>3</option>
 <option>4</option>
 <option>5</option>
 <option>6</option>
 <option>7</option>
 <option>8</option>
 <option>9</option>
 <option>10</option>
 <option>11</option>
 <option>12</option>
 <option>13</option>
 <option>14</option>
 <option>15</option>
 <option>16</option>
 <option>17</option>
 <option>18</option>
 <option>19</option>
 <option>20</option>
 <option>21</option>
 <option>22</option>
 <option>23</option>
 <option>24</option>
 <option>25</option>
 <option selected="selected">26</option>
 <option>27</option>
 <option>28</option>
 <option>29</option>
 <option>30</option>
 <option>31</option>
 </select>
 <select class="year form-select" name="year">
 <option selected="selected">2017</option>
 <option>2016</option>
 <option>2015</option>
 <option>2014</option>
 <option>2013</option>
 <option>2012</option>
 <option>2011</option>
 <option>2010</option>
 <option>2009</option>
 <option>2008</option>
 <option>2007</option>
 <option>2006</option>
 <option>2005</option>
 <option>2004</option>
 <option>2003</option>
 <option>2002</option>
 <option>2001</option>
 <option>2000</option>
 <option>1999</option>
 <option>1998</option>
 <option>1997</option>
 </select>
 </div>]

In [12]:
# From the above we observe that only the select elements give access to different element in the table
# we try to extract that now.
select_options=soup.findAll("select")

In [13]:
#We extract the main items in the select options.[years, month, day]

selected_index=0;
main_selection_items = []
for option in select_options:
            v = list(option.attrs.values())  # return list of main items 
            print(v)
            main_selection_items.append(str(v[-1]))
            print(v[-1])
del main_selection_items[:2];

[['month', 'form-select'], 'month']
month
[['day', 'form-select'], 'day']
day
[['year', 'form-select'], 'year']
year
[['month'], 'month']
month
[['day'], 'day']
day

In [14]:
main_selection_items

['year', 'month', 'day']

In [ ]:
# To each of this we append the years present and the month and the days 
# we make use of the NAvigableSte

In [15]:
from bs4 import NavigableString;
from bs4 import Tag;

for counter, ee in enumerate(select_options):
    if counter ==0:
           main_selection_items[1]=[]
        #print(vk[1]) 
           for kkk in ee.children:
                 # print(kkk)  
                    if isinstance(kkk, NavigableString):
                        continue
                    if isinstance(kkk, Tag):
                        main_selection_items[1].append(kkk['value'])
                    
    elif counter ==1:
        main_selection_items[2]=[]
        for i in ee.children:
            #print(i)
            if isinstance(i, NavigableString):
                continue
            if isinstance(i, Tag):
                main_selection_items[2].append(i.text)
        
      
            
    elif counter ==2:
        
        main_selection_items[0]=[];
        for y in ee.children:
            if isinstance(y, NavigableString): 
                continue
            if isinstance(y, Tag):
                main_selection_items[0].append(y.text) 
    else:
        break;

In [16]:
main_selection_items[0] # see sample from extracted options

['2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012',
 '2011',
 '2010',
 '2009',
 '2008',
 '2007',
 '2006',
 '2005',
 '2004',
 '2003',
 '2002',
 '2001',
 '2000',
 '1999',
 '1998',
 '1997']

In [17]:
url1="https://www.wunderground.com/history/airport/LWSK/"
#url2="2000/2/30"
year= ""
month=""
day = ""
url2="'"+str(year)+"/"+str(month)+str(day)+"/"+"'"
url3="/DailyHistory.html?req_city=Skopje-zajceprid&req_state=09&req_statename=Macedonia&reqdb.zip=00000&reqdb.magic=1&reqdb.wmo=13588"
chunks_0=[]
chunks_1=[]
for yy in main_selection_items[0]:
    #print(yy)
    
        for mm in main_selection_items[1]:
            #print(dd)
            for dd in main_selection_items[2]:
            #if yy == "2016":
            #print(mm)
                year = yy
                month = mm
                day=dd
                url2=str(year)+"/"+str(month)+"/"+str(day)+"/"
                #url2="'"+year+"/"+month+"/"+day+"/"+"'"
                #print (url2)
                
                pandas_scrapper = pd.read_html(url1+url2+url3)
                date = pd.to_datetime(url2,errors='coerce')
                month_ = (date.month)
                year_ = (date.year)
                day_ = (date.day)
                #print (date.year)
                
                #print(type(month_))
                
                #print(type(date.day))
                #print(pandas_scrapper)
                pandas_scrapper[0]['month'] = month_
                pandas_scrapper[0]['year'] = year_
                pandas_scrapper[0]['day'] = day_
                pandas_scrapper[0]['date'] = url2
                
                pandas_scrapper[1]['month'] = month_
                pandas_scrapper[1]['year'] = year_
                pandas_scrapper[1]['day'] = day_
                pandas_scrapper[1]['date'] = url2
                
                pandas_scrapper_first  = pandas_scrapper[0].copy(deep=True)
                
                pandas_scrapper_second  = pandas_scrapper[1].copy(deep=True)
                #break
                #pandas_scrapper.set_index('date')
                #print(year);print(month);print(day)
                chunks_0.append(pandas_scrapper_first)
                chunks_1.append(pandas_scrapper_second)
        #final = pd.concat(chunks, axis=0) 
        #final_ = pd.concat(chunks1, axis=0)
                #else:
    #else:
        #continue;

In [18]:
chunks_1[3]

,0,1,month,year,day,date
0,"T = Trace of Precipitation, MM = Missing Value",Source: Averaged Metar Reports,1,2017,4,2017/1/4/

In [26]:
chunks_0[3].head()

                    Actual Average  Record   month  year  day       date
0       Temperature    NaN      NaN     NaN      1  2017    4  2017/1/4/
1  Mean Temperature   0 °C        -     NaN      1  2017    4  2017/1/4/
2   Max Temperature   6 °C     5 °C    - ()      1  2017    4  2017/1/4/
3   Min Temperature  -6 °C    -3 °C    - ()      1  2017    4  2017/1/4/
4       Degree Days    NaN      NaN     NaN      1  2017    4  2017/1/4/

2017

In [25]:
# View Column Headers
count =0 
for i in range(0,len(chunks_0)):
    if count<5:
        print (len(chunks_0[i].columns))
        print (chunks_0[i].columns)
        print('\n')
        count = count+1

8
Index([' ', 'Actual', 'Average ', 'Record ', 'month', 'year', 'day', 'date'], dtype='object')


8
Index([' ', 'Actual', 'Average ', 'Record ', 'month', 'year', 'day', 'date'], dtype='object')


8
Index([' ', 'Actual', 'Average ', 'Record ', 'month', 'year', 'day', 'date'], dtype='object')


8
Index([' ', 'Actual', 'Average ', 'Record ', 'month', 'year', 'day', 'date'], dtype='object')


8
Index([' ', 'Actual', 'Average ', 'Record ', 'month', 'year', 'day', 'date'], dtype='object')

# Save Scrapped Data with pickle

In [1]:
import pickle as pick

In [38]:
with open('featureset_0', 'wb') as fp:
    pick.dump(chunks_0, fp)

In [39]:
with open('featureset_1', 'wb') as fp:
    pick.dump(chunks_1, fp)

In [2]:
# load data set using pickle again

with open ('featureset_0', 'rb') as fp:
    itemlist = pick.load(fp)

In [41]:
#test length with the chunks_0
len(itemlist) == len(chunks_0)

True

<p> On inspection the data set look the same. </p>

In [43]:
itemlist[0].head() #

                     Actual Average  Record   month  year  day       date
0       Temperature     NaN      NaN     NaN      1  2017    1  2017/1/1/
1  Mean Temperature   -4 °C        -     NaN      1  2017    1  2017/1/1/
2   Max Temperature    3 °C     4 °C    - ()      1  2017    1  2017/1/1/
3   Min Temperature  -10 °C    -3 °C    - ()      1  2017    1  2017/1/1/
4       Degree Days     NaN      NaN     NaN      1  2017    1  2017/1/1/

In [45]:
chunks_0[0].head()

                     Actual Average  Record   month  year  day       date
0       Temperature     NaN      NaN     NaN      1  2017    1  2017/1/1/
1  Mean Temperature   -4 °C        -     NaN      1  2017    1  2017/1/1/
2   Max Temperature    3 °C     4 °C    - ()      1  2017    1  2017/1/1/
3   Min Temperature  -10 °C    -3 °C    - ()      1  2017    1  2017/1/1/
4       Degree Days     NaN      NaN     NaN      1  2017    1  2017/1/1/

In [46]:
with open ('featureset_1', 'rb') as fp:
    itemlist_1 = pick.load(fp)

In [47]:
len(itemlist_1 )== len(chunks_1)

True

# Load Impurities data

In [3]:
# Data import 
%pwd

'/Users/Seychelles/Desktop/GoogleTensorflow/Data_Collector'

In [4]:
%cd CSV_file_from_2007_to_2017

/Users/Seychelles/Desktop/GoogleTensorflow/Data_Collector/CSV_file_from_2007_to_2017

In [5]:
import pandas as pd

In [70]:
pollution_PM = pd.read_csv("SkopjeRegion_PM10_airpointers.csv") #load data set

In [71]:
# View Data
pollution_PM.tail()

                              DATE_TIME;LAT;LON;PM10;NAME
626495     14.12.2016 09;42.006667;21.386944;79.07;Karpos
626496    14.12.2016 09;41.977821;21.464474;110.39;Lisice
626497   14.12.2016 09;41.999200;21.440800;72.11;Rektorat
626498         14.12.2016 09;42.015800;21.650600;;Mrsevci
626499  14.12.2016 09;41.987500;21.652500;59.73;Miladi...

In [72]:
pollution_PM=pollution_PM.rename(columns = {'DATE_TIME;LAT;LON;PM10;NAME':'pm10'})
# change the column name to something simplecolumn name to facilitate 
# This will facilitate separation of columns into various components.

In [73]:
pollution_PM.columns.dtype # The columns are all of object type

dtype('O')

In [74]:
pollution_PM.tail()

                                                     pm10
626495     14.12.2016 09;42.006667;21.386944;79.07;Karpos
626496    14.12.2016 09;41.977821;21.464474;110.39;Lisice
626497   14.12.2016 09;41.999200;21.440800;72.11;Rektorat
626498         14.12.2016 09;42.015800;21.650600;;Mrsevci
626499  14.12.2016 09;41.987500;21.652500;59.73;Miladi...

<p> Seperate columns here </p>

In [75]:
df_ = pd.DataFrame(pollution_PM.pm10.str.split(';',4).tolist(),columns = ['date','Lat','Lon','PM10','NAME'])

In [76]:
df_[1:30]

             date        Lat        Lon    PM10         NAME
1   26.01.2007 10  42.003600  21.463600            Gazi Baba
2   26.01.2007 10  42.006667  21.386944   61.67       Karpos
3   26.01.2007 10  41.977821  21.464474               Lisice
4   26.01.2007 10  41.999200  21.440800   95.57     Rektorat
5   26.01.2007 10  42.015800  21.650600              Mrsevci
6   26.01.2007 10  41.987500  21.652500          Miladinovci
7   15.01.2007 01  41.992500  21.423611               Centar
8   15.01.2007 01  42.003600  21.463600            Gazi Baba
9   15.01.2007 01  42.006667  21.386944  298.28       Karpos
10  15.01.2007 01  41.977821  21.464474               Lisice
11  15.01.2007 01  41.999200  21.440800  399.11     Rektorat
12  15.01.2007 01  42.015800  21.650600              Mrsevci
13  15.01.2007 01  41.987500  21.652500          Miladinovci
14  15.01.2007 00  41.992500  21.423611               Centar
15  15.01.2007 00  42.003600  21.463600            Gazi Baba
16  15.01.2007 00  42.006667  21.386944  289.51       Karpos
17  15.01.2007 00  41.977821  21.464474               Lisice
18  15.01.2007 00  41.999200  21.440800  454.60     Rektorat
19  15.01.2007 00  42.015800  21.650600              Mrsevci
20  15.01.2007 00  41.987500  21.652500          Miladinovci
21  15.01.2007 03  41.992500  21.423611               Centar
22  15.01.2007 03  42.003600  21.463600            Gazi Baba
23  15.01.2007 03  42.006667  21.386944  252.17       Karpos
24  15.01.2007 03  41.977821  21.464474               Lisice
25  15.01.2007 03  41.999200  21.440800  342.17     Rektorat
26  15.01.2007 03  42.015800  21.650600              Mrsevci
27  15.01.2007 03  41.987500  21.652500          Miladinovci
28  15.01.2007 02  41.992500  21.423611               Centar
29  15.01.2007 02  42.003600  21.463600            Gazi Baba